MARKETING_VERSION = 1.5.1
CURRENT_PROJECT_VERSION = 1

IPHONEOS_DEPLOYMENT_TARGET = 16.0
MACOSX_DEPLOYMENT_TARGET = 13.0
SWIFT_VERSION = 5.0

DEVELOPMENT_TEAM =
CODE_SIGN_STYLE = Automatic

APP_BUNDLE_ID = chat.bitchat
PRODUCT_BUNDLE_IDENTIFIER = $(APP_BUNDLE_ID)
APP_GROUP_ID = group.$(APP_BUNDLE_ID)

USE_APP_GROUPS = YES
APP_ENTITLEMENTS_YES = bitchat/bitchat.entitlements
APP_ENTITLEMENTS_NO = bitchat/bitchat.noappgroups.entitlements
APP_ENTITLEMENTS = $(APP_ENTITLEMENTS_$(USE_APP_GROUPS))
SHARE_ENTITLEMENTS_YES = bitchatShareExtension/bitchatShareExtension.entitlements
SHARE_ENTITLEMENTS_NO = bitchatShareExtension/bitchatShareExtension.noappgroups.entitlements
SHARE_ENTITLEMENTS = $(SHARE_ENTITLEMENTS_$(USE_APP_GROUPS))
MAC_ENTITLEMENTS_YES = bitchat/bitchat-macOS.entitlements
MAC_ENTITLEMENTS_NO = bitchat/bitchat-macOS.noappgroups.entitlements
MAC_ENTITLEMENTS = $(MAC_ENTITLEMENTS_$(USE_APP_GROUPS))
